{% extends "admin_layout.html" %}

{% block content %}

    <div class="page-wrapper">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ _("Başlık") }}</th>
                <th scope="col">{{ _("Açıklama") }}</th>
                <th scope="col">{{ _("İşlemler") }}</th>
            </tr>
            </thead>
            <tbody>

            {% for post in post_items %}
                <tr>
                    <td>{{ post["post_id"] }}</td>
                    <td style="width:200px;">{{ post["post_title"] }}</td>
                    <td>{{ post["post_summary"] }}</td>
                    <td>
                        <a href="{{ url_for("admin.post_edit",post_id=post["post_id"]) }}" class="btn btn-sm btn-primary">{{ _("Düzenle") }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}