{% extends "admin_layout.html" %}

{% block content %}

    <div class="page-wrapper p-5">
        <h1>{{ _("Yazı Ekle") }}</h1>


        <form action="{{ url_for("admin.post_new") }}" method="post" id="new-post-form">
            {{ new_post_form.csrf_token }}

            <div class="form-group">
                <label for="post_title">{{ _("Başlık") }}</label>
                <input type="text" name="post_title" class="form-control" id="post_title">
            </div>

            <div class="form-group">
                <label for="post_summary">{{ _("Kısa Açıklama") }}</label>
                <textarea name="post_summary" class="form-control" id="post_summary" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="post_content">{{ _("İçerik") }}</label>
                <textarea name="post_content" class="form-control" id="post_content" rows="10"></textarea>
            </div>

            <hr>

            <button type="submit" class="btn btn-primary" id="btn-post-submit">{{ _("Kaydet") }}</button>
        </form>


        <div class="info-messages"></div>

    </div>

{% endblock %}


{% block script %}

    <script>

    $(function () {

        new FroalaEditor('#post_content');

        var formObj = $("#new-post-form")
        formObj.on("submit",function (e) {

            try{
                var formData = formObj.serializeArray();
                $.ajax({
                    type    : "POST",
                    url     : formObj.attr("action"),
                    data    : formData,
                    dataType : "json",
                    success : function (data) {
                        if (data.status==="error"){
                            $(".info-messages").html(data.error_message);
                            return;
                        }

                        $("#btn-post-submit").attr("disabled",true)
                        $(".info-messages").html(successMessageHtml("{{ _("Post başarıyla kaydedildi.Postlar sayfasına yönlendiriliyorsunuz...") }}"));

                        setTimeout(function(){
                            window.location.href = "{{ url_for("admin.admin_posts") }}";
                        }, 2000);
                    }
                })

            }catch (e) {
                console.log(e)
            }

            return false;
        })
    })

    </script>

{% endblock %}