{% extends "base_layout.html" %}

{% block title %}{{ _("Yazılar") }}{% endblock %}

{% block content %}

    <form action="{{ url_for("website.posts") }}" class="form-inline">
            <div class="form-group mr-3 mb-2">
                <input type="text" name="query" class="form-control" placeholder="{{ _("arama yap...") }}">
            </div>
            <button type="submit" class="btn btn-primary mb-2">{{ _("Ara") }}</button>
    </form>

    {% if post_items|length<1 %}
        <div class="alert alert-info">{{ _("Sonuç bulunamadı") }}</div>
    {% endif %}

    <div class="posts">
        {% for post in post_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ post["post_title"] }}</h5>
                    <p>
                        <small>{{ _("Yazar") }} : <i>{{ post["full_name"] }}</i></small>
                    </p>
                    <p class="card-text">
                        {{ post["post_summary"] }}
                    </p>
                    <a href="{{ url_for("website.show_post", id=post["post_id"]) }}" class="card-link">{{ _("Görüntüle") }}</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}